.hero-container {
  position: relative;
  padding: 50px;
  text-align: left;
}

.ellipse {
  position: absolute;
  width: 60vw; 
  height: 60vh; 
  left: -20vw; 
  top: -20vh;
  background: radial-gradient(50% 50% at 50% 50%, #453B6E 5.27%, #1d1d1d 84.98%);
  opacity: 0.67;
  filter: blur(3.3px);
  transform: scale(2.0);
  z-index: -1;
}

.hero-text {
  position: absolute;
  max-width: 80%;
  left: 5%;
  top: 20%;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 6vw;
  line-height: 1.2;
  text-transform: uppercase;
  color: white;
}

.description-text {
  position: absolute;
  max-width: 100%;
  left: 5%;
  top: 40%;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 3vw;
  line-height: 1.5;
  color: #cccccc;
}

.hero-image {
  position: absolute;
  top: 30%;
  right: 5%;
  width: 40vw;
  height: auto;
}

.hero-buttons {
  position: absolute;
  left: 5%; 
  top: 60%; 
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-buttons button {
  width: 100%;
}

@media (min-width: 768px) {
  .hero-container {
    padding: 50px; 
  }

  .hero-text {
    font-size: 145px;
    left: 49px;
    top: 113px;
    max-width: 600px; 
  }

  .description-text {
    font-size: 11px; 
    left: 49px; 
    top: 317px;
    max-width: 312px;
  }

  .hero-image {
    width: 500px;
    top: 217px;
    right: 0;
  }

  .hero-buttons {
    left: 49px; 
    top: 420px;
    flex-direction: row;
  }

  .hero-buttons button {
    width: auto; 
    margin-right: 10px;
  }
}
